<div ng-if="vm.sendingRequest" class="loader loader-transparent">
	<svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57">
		<g fill="#e20d18" fill-rule="evenodd">
			<g transform="translate(1 1)" stroke-width="2">
				<circle cx="5" cy="50" r="5">
					<animate attributeName="cy" begin="0s" dur="2.2s" values="50;5;50;50" calcMode="linear" repeatCount="indefinite"></animate>
					<animate attributeName="cx" begin="0s" dur="2.2s" values="5;27;49;5" calcMode="linear" repeatCount="indefinite"></animate>
				</circle>
				<circle cx="27" cy="5" r="5">
					<animate attributeName="cy" begin="0s" dur="2.2s" from="5" to="5" values="5;50;50;5" calcMode="linear" repeatCount="indefinite"></animate>
					<animate attributeName="cx" begin="0s" dur="2.2s" from="27" to="27" values="27;49;5;27" calcMode="linear" repeatCount="indefinite"></animate>
				</circle>
				<circle cx="49" cy="50" r="5">
					<animate attributeName="cy" begin="0s" dur="2.2s" values="50;50;5;50" calcMode="linear" repeatCount="indefinite"></animate>
					<animate attributeName="cx" from="49" to="49" begin="0s" dur="2.2s" values="49;5;27;49" calcMode="linear" repeatCount="indefinite"></animate>
				</circle>
			</g>
		</g>
	</svg>
</div>
<div class="container-full">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Podsumowanie</h1>
				<h4>
					Prosimy o sprawdzenie wszystkich danych wprowadzonych do zamówienia we wcześniejszych krokach.
					<br>
					Następnie prosimy o akceptację regulaminu i potwierdzenie złożenia zamówienia.
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-4">
						<h2>twój parasol</h2>
						<div class="row key-value">
							<div class="col-xs-6">
								<span>Forma odbioru:</span>
								<span>Model:</span>
								<span>Ilość:</span>
								<span>Waga:</span>
								<span>Materiał:</span>
							</div>
							<div class="col-xs-6">
								<span>{{ vm.orderOptions.delivery == "personal" ? "odbiór osobisty" : "przesyłka kurierska" }}</span>
								<span>{{ vm.model.title }} {{ vm.model.subtitle }}</span>
								<span>{{ vm.orderOptions.count }}</span>
								<span>{{ vm.model.params.weight }}</span>
								<span>{{ vm.model.params.material }}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<h2>dane zamawiającego</h2>
						<span>{{ vm.orderForm.person.name }}</span>
						<span>{{ vm.orderForm.person.mail }}</span>
						<span>{{ vm.orderForm.person.phone }}</span>
						<span>{{ vm.orderForm.person.street }}</span>
						<span>{{ vm.orderForm.person.postalCode }} {{ vm.orderForm.person.city }}</span>
						<span>{{ vm.orderForm.person.country }}</span>
					</div>
					<div class="col-xs-4">
						<h2>dodatkowe pliki</h2>
						<div class="additional-files" ng-if="!vm.imagesIsEmpty">
							<img ng-repeat="(key, image) in vm.images" ng-src="{{ image.url }}">
							<div ng-repeat="file in vm.orderForm.additionalFiles" title="{{ file.name }}">
								<svg enable-background="new 0 0 48 48" height="48px" id="Layer_1" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M37,47H11c-2.209,0-4-1.791-4-4V5c0-2.209,1.791-4,4-4h18.973  c0.002,0,0.005,0,0.007,0h0.02H30c0.32,0,0.593,0.161,0.776,0.395l9.829,9.829C40.84,11.407,41,11.68,41,12l0,0v0.021  c0,0.002,0,0.003,0,0.005V43C41,45.209,39.209,47,37,47z M31,4.381V11h6.619L31,4.381z M39,13h-9c-0.553,0-1-0.448-1-1V3H11  C9.896,3,9,3.896,9,5v38c0,1.104,0.896,2,2,2h26c1.104,0,2-0.896,2-2V13z M33,39H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18  c0.553,0,1,0.448,1,1C34,38.553,33.553,39,33,39z M33,31H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1  C34,30.553,33.553,31,33,31z M33,23H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1C34,22.553,33.553,23,33,23  z" fill-rule="evenodd"/></svg>
								<span>{{ file.name }}</span>
							</div>
						</div>
						<div ng-if="vm.imagesIsEmpty" class="no-msg">
							<svg version="1.1" id="line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="21.6px" height="39.6px" viewBox="0 0 21.6 39.6" enable-background="new 0 0 21.6 39.6" xml:space="preserve">
								<path d="M16.6,0c-2.7,0-5,2.2-5,5c0,2.7,2.2,5,5,5c2.7,0,5-2.2,5-5C21.6,2.2,19.4,0,16.6,0z M14.2,12.7c-0.9-0.8-1.8-1.1-2.8-1.1c-2.8,0-5.6,3.2-8.1,6.7c-0.2,0.3-0.2,0.6,0.1,0.9c0.2,0.2,0.6,0.3,0.9,0.1c1.4-1,3.1-2.1,4-2.4c-0.5,1.4-2.6,5.5-4.4,9.1c-2.1,4.2-3.4,6.9-3.6,7.6C-0.2,34.7,0,36.6,1,38c0.8,1,2,1.6,3.4,1.6c2.2,0,5.1-1.4,8.4-4.1c0.2-0.2,0.3-0.5,0.2-0.8c-0.1-0.3-0.4-0.4-0.7-0.4c0,0-1.8,0.4-3.7,0.4c-0.1,0-0.2,0-0.3-0.1c-0.1-0.2-0.4-1.3,2.8-6.9C14.3,22.2,17.6,15.5,14.2,12.7z"/>
							</svg>
							<span>nie załączono<br>dodatkowych plików</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<h2>podstawa</h2>
						<div class="row key-value">
							<div class="col-xs-6">
								<span>Typ:</span>
								<span ng-if="!!vm.orderOptions.base">Ilość:</span>
							</div>
							<div class="col-xs-6">
								<span>{{ !!vm.orderOptions.base ? vm.orderOptions.base.name : "Bez podstawy" }}</span>
								<span ng-if="!!vm.orderOptions.base">{{ vm.orderOptions.baseCount }}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4" ng-if="vm.orderForm.invoiceNeeded">
						<h2>dane do faktury</h2>
						<span>{{ vm.orderForm.company.name }}</span>
						<span>NIP: {{ vm.orderForm.company.nip }}</span>
						<span ng-if="!!vm.orderForm.company.regon">REGON: {{ vm.orderForm.company.regon }}</span>
						<span>{{ vm.orderForm.company.street }}</span>
						<span>{{ vm.orderForm.company.postalCode }} {{ vm.orderModel.company.city }}</span>
						<span>{{ vm.orderForm.country }}</span>
					</div>
					<div ng-class="{ 'col-xs-8': !vm.orderForm.invoiceNeeded, 'col-xs-4': vm.orderForm.invoiceNeeded }">
						<h2>wiadomość</h2>
						<span ng-if="!!vm.orderForm.message">{{ vm.orderForm.message }}</span>
						<div ng-if="!vm.orderForm.message" class="no-msg">
							<svg version="1.1" id="line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="21.6px" height="39.6px" viewBox="0 0 21.6 39.6" enable-background="new 0 0 21.6 39.6" xml:space="preserve">
								<path d="M16.6,0c-2.7,0-5,2.2-5,5c0,2.7,2.2,5,5,5c2.7,0,5-2.2,5-5C21.6,2.2,19.4,0,16.6,0z M14.2,12.7c-0.9-0.8-1.8-1.1-2.8-1.1c-2.8,0-5.6,3.2-8.1,6.7c-0.2,0.3-0.2,0.6,0.1,0.9c0.2,0.2,0.6,0.3,0.9,0.1c1.4-1,3.1-2.1,4-2.4c-0.5,1.4-2.6,5.5-4.4,9.1c-2.1,4.2-3.4,6.9-3.6,7.6C-0.2,34.7,0,36.6,1,38c0.8,1,2,1.6,3.4,1.6c2.2,0,5.1-1.4,8.4-4.1c0.2-0.2,0.3-0.5,0.2-0.8c-0.1-0.3-0.4-0.4-0.7-0.4c0,0-1.8,0.4-3.7,0.4c-0.1,0-0.2,0-0.3-0.1c-0.1-0.2-0.4-1.3,2.8-6.9C14.3,22.2,17.6,15.5,14.2,12.7z"/>
							</svg>
							<span>brak wiadomości<br>do zamówienia</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-3 price">
				<h2>cena</h2>
				<div>
					<div class="keys">
						<span>Cena modelu</span>
						<span class="hr" ng-if="vm.orderOptions.count > 1" class="high">w sumie ({{ vm.orderOptions.count }}):</span>
						<span ng-if="!!vm.orderOptions.base">Cena podstawy</span>
						<span class="hr" ng-if="!!vm.orderOptions.base && vm.orderOptions.baseCount > 1">w sumie ({{ vm.orderOptions.baseCount }}):</span>
						<span>Dostawa</span>
						<span class="high">Rabat</span>
						<span>Łącznie (netto)</span>
						<span>Łącznie (brutto)</span>
					</div>
					<div class="values">
						<span>{{ vm.priceService.getModelPrice().toFixed(2) }} PLN</span>
						<span class="red hr" ng-if="vm.orderOptions.count > 1">{{ (vm.priceService.getModelPrice() * vm.orderOptions.count).toFixed(2) }} PLN</span>
						<span ng-if="!!vm.orderOptions.base">{{ vm.orderOptions.base.price.toFixed(2) }} PLN</span>
						<span class="red hr" ng-if="!!vm.orderOptions.base && vm.orderOptions.baseCount > 1">{{ (vm.orderOptions.base.price * vm.orderOptions.baseCount).toFixed(2) }} PLN</span>
						<span>{{ vm.priceService.getDeliveryPrice().toFixed(2) }} PLN</span>
						<span class="high">{{ !!vm.discountResult ? vm.discountResult * 100 + "%" : "brak" }}</span>
						<span class="red">{{ vm.priceService.getFullPrice(1).toFixed(2) }} PLN</span>
						<span class="red">{{ vm.priceService.getFullPrice(1.23).toFixed(2) }} PLN</span>
					</div>
				</div>
				<div class="discount">
					<h2>wprowadź kod rabatowy</h2>
					<div>
						<input class="input" type="text" ng-model="vm.discountCode">
						<div class="button" ng-click="vm.submitDiscount()">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
							<path d="M30.9,20L11.3,39.7C11,39.9,10.7,40,10.4,40s-0.7-0.1-0.9-0.3c-0.3-0.2-0.4-0.5-0.4-0.9s0.1-0.7,0.3-0.9l17.8-17.8L9.4,2.2
								C9.2,2,9.1,1.6,9.1,1.3s0.1-0.7,0.3-0.9c0.3-0.3,0.7-0.4,1-0.4l0,0c0.3,0,0.7,0.1,0.9,0.3L30.9,20z"/>
							</svg>
						</div>
					</div>
					<span class="discount-error" ng-if="vm.discountResult === false">Nie znaleziono podanego kodu w bazie rabatów!</span>
					<span class="discount-success" ng-if="!!vm.discountResult">Rabat został przyznany!</span>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container-full">
		<div class="row">
			<div class="col-xs-12">
				<a class="button arrow-left" ui-sref="order-form">
					Wróć
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
					<path d="M30.9,20L11.3,39.7C11,39.9,10.7,40,10.4,40s-0.7-0.1-0.9-0.3c-0.3-0.2-0.4-0.5-0.4-0.9s0.1-0.7,0.3-0.9l17.8-17.8L9.4,2.2
						C9.2,2,9.1,1.6,9.1,1.3s0.1-0.7,0.3-0.9c0.3-0.3,0.7-0.4,1-0.4l0,0c0.3,0,0.7,0.1,0.9,0.3L30.9,20z"/>
					</svg>
				</a>
				<div>
					<span class="rules">
						<span>Akceptuję <a href="bin/img/regulamin.docx">regulamin</a></span>
						<input type="checkbox" ng-model="vm.acceptRules">
					</span>
					<a class="button" ng-click="vm.submitOrder()" ng-class="{ disabled: !vm.acceptRules }">
						Zamawiam
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
						<path d="M30.9,20L11.3,39.7C11,39.9,10.7,40,10.4,40s-0.7-0.1-0.9-0.3c-0.3-0.2-0.4-0.5-0.4-0.9s0.1-0.7,0.3-0.9l17.8-17.8L9.4,2.2
							C9.2,2,9.1,1.6,9.1,1.3s0.1-0.7,0.3-0.9c0.3-0.3,0.7-0.4,1-0.4l0,0c0.3,0,0.7,0.1,0.9,0.3L30.9,20z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
